testpatterns/org.openntf.junit.xsp.parent/target/
buildpatterns/maven/odp-maven-archetype/.settings/org.sonar.ide.eclipse.core.prefs
testpatterns/org.openntf.junit.xsp.parent/org.openntf.junit.odp/.project
testpatterns/org.openntf.junit.xsp.parent/org.openntf.junit.odp/.settings/
testpatterns/org.openntf.junit.xsp.parent/HEADLESS0.log
testpatterns/org.openntf.junit.xsp.parent/HEADLESSJOB0.log
testpatterns/org.openntf.junit.xsp.parent/org.openntf.junit.odp/target/
